body {
    background-color: #FFE7C1; /* додамо фон до нашого сайту (уся палітра кольорів з веб-ресурсу ColorHunt) */
}

.timer-container {
    background-color: #E9A8F2; /* додаємо фоновий колір до блоку з текстом */
    opacity: 0.8; /* налаштовуємо прозорість */
    color: #000; /* вказуємо колір тексту */
    font-weight: 600; /* жирність тексту */


    border-radius: 30px; /* налаштовуємо заокруглення блоку */
    box-shadow: 20px 15px 30px rgba(128, 128, 128, 0.6);

    position: absolute; 
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) /* всі стрічки вище допомагають центрувати блок по вертикалі та горизонталі */
}

.timer-window {
    padding: 5px 15px 20px 15px; /* налаштування виступів */
    display: flex; /* дозволяємо елементам блоку знаходитися на одному рівні */ 

    font-size: 18px; /* встановлюємо розмір шрифту */
}

.text {
    text-align: center; /* вирівнюємо верхню стрічку по центру блоку */ 
    padding-top: 10px; /* відступ зверху */ 
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 30px; /* вище налаштовуємо шрифт */
}

.timer-unit {
    padding: 0px 20px 0 5px; /* відступи для тексту від чисел */
}

@media (max-width: 600px) {
    .timer-window {
        font-size: 12px;
    }

    .timer-unit {
        font-size: 12px;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .timer-window {
        font-size: 10px;
    }

    .timer-unit {
        font-size: 10px;
    }

    .text {
        font-size: 16px;
    }
}

